.general-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111111;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    min-width: 320px;
    width: 85%;
}

.general-icon {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 1rem;
}

.cv-name {
    padding-top: 1rem;
}